<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- Core JavaScript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/js/script.js"></script>
</head>

<body>

<div>

  <!-- Our Website Content Goes Here -->
  <div class="header-div">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" /></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">
          <svg width="20px" height="20px" viewBox="874 48 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="ic_search_black_18px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(874.000000, 48.000000)">
              <path d="M12.9166667,11.6666667 L12.2583333,11.6666667 L12.025,11.4416667 C12.8416667,10.4916667 13.3333333,9.25833333 13.3333333,7.91666667 C13.3333333,4.925 10.9083333,2.5 7.91666667,2.5 C4.925,2.5 2.5,4.925 2.5,7.91666667 C2.5,10.9083333 4.925,13.3333333 7.91666667,13.3333333 C9.25833333,13.3333333 10.4916667,12.8416667 11.4416667,12.025 L11.6666667,12.2583333 L11.6666667,12.9166667 L15.8333333,17.075 L17.075,15.8333333 L12.9166667,11.6666667 L12.9166667,11.6666667 Z M7.91666667,11.6666667 C5.84166667,11.6666667 4.16666667,9.99166667 4.16666667,7.91666667 C4.16666667,5.84166667 5.84166667,4.16666667 7.91666667,4.16666667 C9.99166667,4.16666667 11.6666667,5.84166667 11.6666667,7.91666667 C11.6666667,9.99166667 9.99166667,11.6666667 7.91666667,11.6666667 L7.91666667,11.6666667 Z" id="Shape" stroke="#0D0D0D" stroke-width="0.3" fill="#0D0D0D"></path>
              <polygon id="Shape" points="0 0 20 0 20 20 0 20"></polygon>
            </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg width="32px" height="32px" viewBox="913 43 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="profile-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(914.000000, 44.000000)">
              <circle id="Oval" stroke="#0D0D0D" stroke-width="2" cx="15" cy="15" r="15"></circle>
              <path d="M18,10 C18,11.65675 16.65675,13 15,13 C13.34325,13 12,11.65675 12,10 C12,8.34325 13.34325,7 15,7 C16.65675,7 18,8.34325 18,10 L18,10 Z" id="Stroke-1" stroke="#0D0D0D" stroke-width="2"></path>
              <path d="M19.5187913,22.530943 C21.6002883,22.530943 22.7723615,20.0833783 21.4221791,18.498453 C20.011259,16.8421198 17.6605464,16 15.0003998,16 C12.3394324,16 9.98954054,16.8421198 8.57779968,18.498453 C7.2276173,20.0833783 8.39969052,22.530943 10.4820083,22.530943 L19.5187913,22.530943 L19.5187913,22.530943 Z" id="Stroke-3" stroke="#0D0D0D" stroke-width="2"></path>
            </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/collapse.png" />
        </a>
      </li>          
    </ul>        
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Career fairs</a></li>
      <li><a href="#">Companies</a></li>
      <li><a href="#">Students</a></li>
    </ul>        
  </div>

  <div class="body-div">
    <section class="sidebar-left" ng-controller="menuCtrl">
      <div class="tab">
        <p class="tab-title"><span>MAIN</span></p>
        <ul class="tab-content">
          <li class="tab-item" ng-repeat="menu in home_menus" ng-class="getClass('/{{menu.link}}')">
            <a href="/#{{menu.link}}">
              <div class="num-field">
                <span>{{menu.num}}</span>
              </div>
              <div class="text-field">
                <span class="pull-left menu-label-span">{{menu.label}}</span>
                <span class="pull-right"><img src="assets/images/square.png"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab">
        <p class="tab-title">
          <a ng-click="setToggle('toggle_company')">
            <span>COMPANY</span>
            <i class="fa" aria-hidden="true" ng-class="{'fa-chevron-down':toggle_company, 'fa-chevron-up':!toggle_company}"></i>
          </a>
        </p>
        <ul class="tab-content" ng-class="{'sidenav-collapse':toggle_company, 'sidenav-expand':!toggle_company}">
          <li class="tab-item" ng-repeat="menu in company_menus" ng-class="getClass('/{{menu.link}}')">
            <a href="/#{{menu.link}}">
              <div class="num-field">
                <span>{{menu.num}}</span>
              </div>
              <div class="text-field">
                <span class="pull-left menu-label-span">{{menu.label}}</span>
                <span class="pull-right"><img src="assets/images/square.png"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab">
        <p class="tab-title">
          <a ng-click="setToggle('toggle_hiring')">
            <span>WE ARE HIRING</span>
            <i class="fa" aria-hidden="true" ng-class="{'fa-chevron-down':toggle_hiring, 'fa-chevron-up':!toggle_hiring}"></i>
          </a>
        </p>
        <ul class="tab-content" ng-class="{'sidenav-collapse':toggle_hiring, 'sidenav-expand':!toggle_hiring}">
          <li class="tab-item" ng-repeat="menu in hiring_menus" ng-class="getClass('/{{menu.link}}')">
            <a href="/#{{menu.link}}">
              <div class="num-field">
                <span>{{menu.num}}</span>
              </div>
              <div class="text-field">
                <span class="pull-left menu-label-span">{{menu.label}}</span>
                <span class="pull-right"><img src="assets/images/square.png"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab">
        <p class="tab-title">
          <a ng-click="setToggle('toggle_employees')">
            <span>EMPLOYEES</span>
            <i class="fa" aria-hidden="true" ng-class="{'fa-chevron-down':toggle_employees, 'fa-chevron-up':!toggle_employees}"></i>
          </a>
        </p>
        <ul class="tab-content" ng-class="{'sidenav-collapse':toggle_employees, 'sidenav-expand':!toggle_employees}">
          <li class="tab-item" ng-repeat="menu in enployees_menus" ng-class="getClass('/{{menu.link}}')">
            <a href="/#{{menu.link}}">
              <div class="num-field">
                <span>{{menu.num}}</span>
              </div>
              <div class="text-field">
                <span class="pull-left menu-label-span">{{menu.label}}</span>
                <span class="pull-right"><img src="assets/images/square.png"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="main-div" ng-controller="myCtrl">
      <form accept-charset="UTF-8" role="form" name="setting_form" novalidate>
        <div class="main-content-div">
          <div class="hire-rates-div">
            <div class="sub-title-div"><span>HIRE RATES</span></div>

            <div class="description-div">
              <span>DESCRIPTION</span>
            </div>
            <div class="description-div control-div">
              <input type="text" name="hire_description" class="transparent-input" placeholder="60" ng-model="formData.hireDesc">
            </div>

            <div class="description-div">
              <span>NUMBER OF PEOPLE *</span>
            </div>
            <div class="description-div control-div">
              <input type="text" name="hire_number" class="transparent-input" placeholder="people per year" ng-model="formData.hireNumber" numbers-only>
            </div>
          </div>
        </div>

        <div class="main-content-div">
          <div class="departure-rates-div">
            <div class="sub-title-div"><span>DEPARTURE RATES</span></div>

            <div class="description-div">
              <span>DESCRIPTION</span>
            </div>
            <div class="description-div control-div">
              <input type="text" name="departure_description" class="transparent-input" placeholder="60" ng-model="formData.depatureDesc">
            </div>

            <div class="description-div">
              <span>NUMBER OF PEOPLE *</span>
            </div>
            <div class="description-div control-div">
              <input type="text" name="departure_number" class="transparent-input" placeholder="people per year" ng-model="formData.depatureNumber" numbers-only>
            </div>
          </div>
        </div>

        <div class="main-content-div">
          <div class="button-div">
            <a class="a-button inline-set-button" ng-click="submit()">SAVE CHANGES</a>
            <a class="a-button inline-cancel-button" ng-click="cancel()">CANCEL</a>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

</body>
</html>